[2016-01-20 12:33] #648 closed

[2016-01-28 13:15] ncharlot opened #654 "uploadDirectory() with many files causing seg fault (PHP 5.3.29)"
Hello,

We're trying to synchronize our current filers (25 To of images) to an OpenStack Object Store (OVH Object Storage).

Images are stored in their owner dir and we have about 22 000 owners.
So it looks like:

    owner1:
    |_ subdir1
       |_ image1.jpg
       |_ imageN
       …
    |_ subdirN
    ...
    owner2:
    |_ subdir1
    ownerN
    ...

To ease sync process, 1 owner dir = 1 cont

[2016-02-04 18:54] alexandre-butynski opened #655 "PHP 7 compatibility"
PHP 7 is becoming the new standard, what is the roadmap of this package about that ?

This has been discussed one year ago (#547) and the conclusion was to favor the compatibility with PHP 5.4. Today, PHP 5.4 is officially not supported anymore and PHP 7 come with a lot of improvements. I think that the compatibility with PHP 7 will become a major requirement of the community in the next few month

[2016-02-08 09:22] jamiehannaford commented on #655
@alexandre-butynski Thanks for opening this issue. I'm working on a new [v2 SDK](https://github.com/php-opencloud/openstack) which uses PHP 5.6 as a minimum. Do you have any metrics to show the prolific adoption of PHP 7? If so, I'd like to consider shifting the minimum version to 7, since it's a fresh codebase with new adopters who are not constrained by legacy systems.

[2016-02-08 12:05] alexandre-butynski commented on #655
I don't have concrete metrics about this adoption and I would be presumptuous if I spoke in the name of the community but there are very strong signals from php major organizations.

The biggest one for me is the choice of Ubuntu 16.04 (the next LTS, released in April) to put PHP 7.0 as the default version. When you do `apt install php`, you get PHP 7. It will become the standard version for the n

[2016-02-08 12:10] jamiehannaford commented on #655
Thanks for the response - I agree with you. I've added an [issue](https://github.com/php-opencloud/openstack/issues/39), and will start implementing when I get free time. If you'd like to contribute also, please feel free.

[2016-02-08 14:38] virgofx commented on #655
@jamiehannaford you mention the new v2 SDK above -- any insight into a timeframe where that project is stable enough to start migrating resources, issues, development over? For me, one of the big plusses is the newest Guzzle version in that library -- but like all APIs ... stability is first and foremost the biggest concern since most people use openstack on their production stacks.

[2016-02-08 14:49] jamiehannaford commented on #655
@virgofx For the V2 OpenStack SDK, I consider it production-ready. You can look at the [feature matrix](https://github.com/php-opencloud/openstack/blob/master/COVERAGE.md) which shows support most CORE services (the only one missing is non-token operations for Keystone v2).

In terms of the Rackspace driver, I'm working on shifting the codebase to the new standard (it will mostly extend from the a

[2016-02-10 11:37] PatrickRose opened #656 "Percent Signs in Object Names causes 400 error"
Some files that I've been trying to upload as part of a migration to Swift have been returning 400 errors, and I couldn't work out why, until I spotted that the file names had a percent in them which doesn't look like it gets escaped. I don't think Guzzle does any urlencoding, so it looks like OpenCloud needs to do that.

I think it's sufficient to do `preg_replace('/\%(?!\d{2})/', '%25', $objectN

[2016-02-10 11:55] PatrickRose commented on #656
Of course, there's lots of places where this needs handling. Currently I've found:
- `Container::uploadObject()`
- `DataObject::refresh()`
- `Container::objectExists()`
- `Container::uploadObject()`
- `TransferPart::createRequest()`

Maybe it'd be better to override the create request and catch it there?

[2016-02-10 13:22] jamiehannaford commented on #656
No new functionality is being added to this version of the SDK. The [newer version](https://github.com/php-opencloud/openstack) is recommended for connecting to OpenStack clouds. I'd be happy to look into this issue if it affects the newer codebase.

If you are not in a position to migrate, a short-term fix would be to urlencode the filename yourself before uploading and after retrieving.

[2016-02-10 13:47] PatrickRose commented on #656
I've currently overridden guzzle's RequestFactory to urlencode the full path since that meant I only had to do it in one place.

[2016-02-18 01:35] kzap opened #657 "Expired Token doesnt throw an Exception"
If you have a long running process like a daemon and it only sets the token upon running the script
after 24 hours the token expires and no error is thrown even if 401s are being returned by the APIs

specifically this was seen in the queuesService->queue->claimMessages but shouldnt it be a global, if a 401 is returned, reauth or throw an Exception rather than silently ignore...

rather than havin

[2016-02-18 04:57] rbalik opened #658 "Docs don't properly explain how to delete claims"
The documentation says that to delete a message pulled from the queue you just do:
`$message->delete();`

In reality this fails with a 403. You have to specify the claim ID to properly delete the message. The code that I got working looks like:

[code]

[2016-02-18 11:10] PatrickRose commented on #657
I hit this and started checking the token's expiration before performing an action. That still led to a few 401's due to the token expiring a second after I checked it but it mostly caught them (the ObjectStore _does_ throw an exception if it was unauthorised).

[2016-02-21 03:19] kzap commented on #657
does that mean each command in the library needs to catch a 401?

what if a 500 is returned, does it throw for any of those errors i wonder? cant find any evidence that it throws for non 2x response codes

I see https://github.com/rackspace/php-opencloud/blob/1ffa26c53ccd737d46b8ec18938bb41e82c37d74/doc/services/object-store/migrating-containers.rst

has an example of using the Guzzle Backoff plug

[2016-02-21 22:32] PatrickRose commented on #657
The underlying library (Guzzle) throws exceptions if it gets a 4xx or 5xx response (either a ClientErrorResponse or ServerErrorResponse iirc) where you can get the status.

[2016-02-22 13:04] jamiehannaford commented on #657
@kzap @PatrickRose I think there are two ways to accomplish better reauth handling:
1. Add the following to user code:

[code]
2. Extend the `OpenCloud\OpenStack` to either:

   a. Add a request subscriber that checks token validity
   b. Overrides the `createRequest` method and adds in the validity logic

Because this SDK is entering an EOL cycle and will soon be replaced by the [v2 SDK](http://g

[2016-02-22 13:19] kzap commented on #657
yes i did the ff:

[code]

would like this to be in the next version, i only found out after talking to support that we had been doing millions of 401s :)

[2016-02-22 13:49] jamiehannaford commented on #657
@kzap I've added an [issue](https://github.com/php-opencloud/openstack/issues/40) for you. I'll try to get around to implementing it as soon as I can. I'm assuming you'll be using the Rackspace provider rather than pure OpenStack, right?

[2016-02-23 03:39] kzap commented on #657
Yes rackspace provider
On Feb 22, 2016 9:49 PM, "Jamie Hannaford" notifications@github.com wrote:

[2016-02-24 00:39] kzap commented on #657
@jamiehannaford for some reason Guzzle isnt throwing exceptions when it should do at 3.8 even
http://guzzle3.readthedocs.org/http-client/client.html#exceptions

Is exception throwing caught somewhere by openstack or rackspace classes?

[2016-02-24 09:50] jamiehannaford commented on #657
@kzap Which HTTP operation are you expecting to raise an exception?

[2016-02-26 02:49] kzap commented on #657
the 401 when doing a pop() on the cloud queue, i have other libraries which throw an exception when guzzle throws one ,but didnt get one here so i thought there was something preventing that

[2016-02-26 10:00] jamiehannaford commented on #657
@kzap The `OpenCloud\Queues\Resource\Queue` class doesn't have a `pop()` method. Would you mind explaining which operation is not throwing an exception when it should?

[2016-02-26 12:06] kzap commented on #657
sorry its claimMessages()

On Fri, Feb 26, 2016 at 6:00 PM, Jamie Hannaford notifications@github.com
wrote:

[2016-02-26 15:12] jamiehannaford commented on #657
@kzap So you're saying that when a 401 occurs during a `Queue::claimMessages` call, no `Guzzle\Http\Exception\ServerErrorResponseException` is thrown? If that's the case, how do you know a 401 is being returned?

[2016-02-29 15:36] jamiehannaford opened #659 "Implement Cloud Servers into v2 branch"

[2016-03-02 08:30] kzap commented on #657
Yes i was not getting a 401. I knew it qas a 401 only when i run the guzzle
logging plugin and check back after hours and see its getting 401s instead
of 204s
On Feb 26, 2016 11:12 PM, "Jamie Hannaford" notifications@github.com
wrote:

[2016-03-02 09:58] jamiehannaford commented on #657
@kzap Are you sure you're not suppressing it somewhere in your code with a try/catch block? We do not suppress 401s at all in the SDK.

[2016-03-09 13:59] #659 closed, assigned to jamiehannaford

[2016-03-09 16:36] jamiehannaford opened #660 "Add LB service to v2 branch"

[2016-03-18 17:00] dgpro opened #661 "Client error response 404 Not Found url when create a message"
Hi,
I'm using rackspace/php-opencloud 1.16 on PHP Version 5.5.9-1ubuntu4.14, cURL 7.35.0.
I copied a code from here [add-message.php](https://raw.githubusercontent.com/rackspace/php-opencloud/master/samples/Queues/add-message.php) but when I try to create a message in the queue I get this error:

Here is my code: [index.php](https://gist.github.com/dgpro/a4dffa4ca7dd59110fe4#file-index-php) (usern

[2016-03-18 17:04] jamiehannaford commented on #661
@dgpro Are you 100% sure a queue exists with that name? If you're unsure you can use the [`hasQueue`](https://github.com/rackspace/php-opencloud/blob/working/lib/OpenCloud/Queues/Service.php#L184) method to check, like so:

[code]

[2016-03-18 17:37] dgpro commented on #661
Indeed.
I created a queue manually but it was failing for another reason, but when I copied that script over the queue was already deleted.
And the reason it was failing with [status code] 400 [reason phrase] Bad Request is that 'ttl' value was of type string (as I keept in my config), I've spent hours trying to find out that 'ttl' must be an integer which is frustrating.

By the way you don't nee

[2016-03-18 17:48] #661 closed, assigned to nobody

[2016-03-23 12:50] dgpro commented on #658
And it doesn't explain how to release claimed messages at all.
I've found an example in [rackspace docs](https://developer.rackspace.com/docs/cloud-queues/getting-started/?lang=php#use-the-api)

[code]

but it's seems to be wrong as after the first iteration all claimed messages are released and on the next iteration it will throw these errors:

So apparently you just need to break the loop to rel

[2016-03-23 15:37] jamiehannaford opened #662 "Add Cloud Networks to v2 branch"

[2016-04-07 14:08] ypollart commented on #406
Hello,

We have developed a small solution in order to use Swift+Tempauth with php-opencloud and we've just pushed it to github and packagist: https://github.com/fia-net/openstack-tempauth

It's far from being the perfect solution but it shows that it can be done with a very small amount of code.

It may help people using tempauth while waiting for an official upgrade!

Regards,
Yannick.

[2016-04-12 12:59] #662 closed, assigned to jamiehannaford

[2016-04-27 16:30] haphan opened #665 "Promoting the new SDK"
Hey, this repo is overly popular but it is reaching its end-of-life.

Moving forward, new features will only be implementing in https://github.com/php-opencloud/openstack. Shall we put a notice in `README.md` so that new users will use the new SDK?

[2016-04-27 18:44] #665 closed, assigned to jamiehannaford

[2016-05-04 21:52] rbalik commented on #657
Hi, we're seeing the exceptions in our code, but I just want to +1 this feature request as it would be great if the library handled the reauthentication instead of us having to check for that case

[2016-05-04 21:57] rbalik commented on #657
We actually get a different exception than what you suggested:

[code]

Edit: Sorry, realized there was some internal stuff in that stack trace

[2016-05-05 11:54] #631 closed

[2016-05-10 12:11] m-strojek opened #668 "Missing send() on ServerMetaData in method"
Hi,

i just wanted to delete some metadata but found out that nothing happens.
Seems that the send() finalization is missing in the delete() in
php-opencloud/lib/OpenCloud/Compute/Resource/ServerMetadata.php.

When i put some send() at the end it´s working like expected.

Would be nice to have this fixed.

Thanks a lot & best regards
M. Strojek

[2016-05-16 15:51] Hypoaristerolactotherapist opened #669 "Composer issue"
Hi,

when you ship this (great, by the way) project to Packagist, could you remove the .git directory. It messes up my git installation by making your code as a submodule of my code that I have many pains to push.

Each time I update I need to manually remove your .git directory, add all your files to my change list and then I can commit.

Thanks

[2016-05-17 00:06] PatrickRose commented on #669
I'm not getting this issue. The general suggestion is to not include your vendor directory in your git repo by adding it to your .gitignore

[2016-05-23 11:54] martinsbalodis opened #672 "Heat client fails with 400 Bad request when fetching resource list of a stack"
Basically the problem is that the opencloud library makes a request with an unsupported query parameter `limit`. This is the request that the client makes:
`/v1/​{tenant_id}​/stacks/​{stack_name}​/​{stack_id}​/resources?limit=100`
With previous OpenStack versions everything worked but it seems that Mitaka doesn't allow extra query parameters.

There is nothing mentioned about the limit query param

[2016-05-25 07:00] z013j4k opened #673 "Fatal error while uploading image to Rackspace CDN"
Hi, I'm facing this intermittent issue while trying to uploading image to Rackspace throwing error like:

I'm using PHP latest SDK downloaded using composer. I'm new to Rackspace CDN. Kindly help me in resolving this issue

[2016-05-25 08:44] jamiehannaford commented on #673
@z013j4k How regularly does this happen? Is it an intermittent problem, or does it occur every time you authenticate?

[2016-05-25 08:50] z013j4k commented on #673
That's an intermittent issue. From last an hour it's working fine again. So not able to figure out what is causing this.

Thanks for your prompt reply though

From: Jamie Hannaford <notifications@github.com<mailto:notifications@github.com>>
Reply-To: rackspace/php-opencloud <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, May 25, 2016 at 2:14 PM
To: rackspace/php-opencloud

[2016-05-25 08:57] jamiehannaford commented on #673
You can use the [exponential backoff](https://gist.github.com/jamiehannaford/8432889) plugin to retry failed connections of specific cURL error codes. This will prevent the intermittent errors bubbling up.

If this does not solve the problem, I recommend opening a support ticket in the control panel and pasting the error. They will be able to crawl the API logs and contact the identity team on you

[2016-05-25 09:46] z013j4k commented on #673
Sure, I've added backoff plugin code to my project. Let me watch if this occurs again. As you said if this doesn't solve this issue then probably I'd try to open a ticket.

From: Jamie Hannaford <notifications@github.com<mailto:notifications@github.com>>
Reply-To: rackspace/php-opencloud <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, May 25, 2016 at 2:27 PM
To: rackspace/

[2016-05-25 09:50] jamiehannaford commented on #673
@z013j4k Okay, sounds good. I'm going to go ahead and close this issue, since it seems you have a handle on things. If you need additional help please comment here and I'll reopen.

[2016-05-25 11:02] z013j4k commented on #673
Hi, It seems we have to reopen this issue as again Unfortunately I started seeing same error thrown on me while trying to upload file despite of backoff function included to my code.

From: Jamie Hannaford <notifications@github.com<mailto:notifications@github.com>>
Reply-To: rackspace/php-opencloud <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, May 25, 2016 at 3:20 PM
To:

[2016-05-25 11:41] jamiehannaford commented on #673
@z013j4k Can you paste the backoff code you're using?

[2016-05-25 12:01] z013j4k commented on #673
Here is my code:
private $client;
  private $objectStoreService;
  private $container;

  function __construct()
  {
    $this->container = false;
    $this->client = new Rackspace(Rackspace::US_IDENTITY_ENDPOINT, array(
        'username' => USER_NAME,
        'apiKey'   => API_KEY
    ));

[code]

  }

  private function backoff(){
    try{
      $maxRetries = 5;
      $httpCodes = array(503);

[2016-05-25 16:08] jamiehannaford commented on #673
the cURL code you're receiving is 35, but in your code you're only telling the client to retry code 50. You need to add 35 to $curlCodes

[2016-05-25 17:47] z013j4k commented on #673
Sorry about that, I thought its standard code to be added. Though I've changed it now, let's hope it works fine now :)

Not sure but a thought if you would like to add some more comments to add_backoff.php about these variables.

Thanks a lot for on time help.

From: Jamie Hannaford <notifications@github.com<mailto:notifications@github.com>>
Reply-To: rackspace/php-opencloud <reply@reply.github.co

[2016-05-25 17:54] #673 closed, assigned to nobody

[2016-06-07 01:11] jjmontgo opened #675 "Uploading directly to CloudFiles"
Hello:

I'm sorry this isn't really an issue.  I'm not sure where to post the question.  If you could direct me somewhere else, that would be very helpful.

I'd like to use the following method for posting files directly to CloudFiles:

https://developer.rackspace.com/docs/cloud-files/v1/developer-guide/#formpost

I'm wondering if there is any reference for how to do this using the PHP SDK?  I loo

[2016-06-07 16:12] z013j4k opened #676 "Intermittent error while uploading object to CDN."
Hi I'm again getting intermittent error as follows while uploading image file to CDN using PHP SDK tools.

Even though I'm using backoff mechanism like follows:

[code]

Kindly help on this.
Thanks in advance
Manmohan

[2016-06-10 05:15] rbalik commented on #554
Not sure how v2 dev is going but I just want to chime in here about this also being a problem for cloud queues. Posting a new messages takes a while, I think partly because after creating the message it does a GET to view the last 10 messages. Would be great if this extra request was optional.

[2016-06-13 08:03] z013j4k commented on #676
Any update on this please?

[2016-06-13 08:16] jamiehannaford commented on #676
@z013j4k What cURL error code are you getting?

[2016-06-13 08:29] z013j4k commented on #676
@jamiehannaford  It's again 35

[2016-06-13 08:34] jamiehannaford commented on #676
@z013j4k Can you try experimenting with your SSL version:

[code]

[2016-06-13 12:13] z013j4k commented on #676
@jamiehannaford , As of now it's working fine. I'll get back to you in case get same error again.

Thanks for your great help.

[2016-06-20 15:51] ghost commented on #675
http://docs.php-opencloud.com/en/latest/

[2016-06-27 12:35] dmitrirussu opened #677 "Fetch specific object list"
Hi, can I fetch a specific list of objects, to setup on getter method list of file names which I need to fetch, for example to have a method which will ->getObjectsBy(array('file.xx1', 'file.xx2', 'file.xx3'))?

[2016-06-27 13:25] jamiehannaford commented on #677
No. You can provide prefixes though: https://github.com/rackspace/php-opencloud/blob/working/samples/ObjectStore/list-objects-with-prefix.php

[2016-06-27 14:47] dmitrirussu commented on #677
but can be developed some thing, because I see you have some thing on delete Action as delete batch by specific file names. can you implement a method for fetch by specific names?

[2016-06-27 14:47] dmitrirussu commented on #677
I want to avoid multiple requests, fetch by prefix does not help so much is to abstract for me

[2016-06-28 09:19] jamiehannaford commented on #677
There is no way to do this in a single request, the closest thing you have to that performance is using `listObjects` with a prefix.

I don't see the value in a `getObjects` method. Why can't you run:

[code]

[2016-07-11 21:44] hrazack opened #678 "vendor/rackspace is not created by composer"
Ok, so really simple: I downloaded the whole zip archive, unzipped it in a folder, and ran "composer require rackspace/php-opencloud:dev-master"

All goes well, no errors, the "vendor" folder is created and populated with quite a lot of folders.... except it doesn't create any "vendor/rackspace" folder. So, it fetches everything except the opencloud.php stuff.

I've tried deleted the "vendor" fold

[2016-07-12 00:00] PatrickRose commented on #678
This sounds like a composer bug possibly, but that sounds unlikely. I'd try deleting your composer.lock file and the vendor directory and running `composer install` again.

Might be worth dumping the output of doing that and your composer.json in this issue.

[2016-07-12 00:11] hrazack commented on #678
Thanks a lot for the reply and suggestion, that's much appreciated. It seems to have produced the same effect as before. It all runs smoothly, but no vendor/rackspace folder in sight.

Here is the content of composer.json:

[code]

}

And here is the output of `composer install`:

Loading composer repositories with package information
Updating dependencies (including require-dev)
- Installing mike

[2016-07-12 06:59] PatrickRose commented on #678
Ahhhh. You don't need to download the zip for this package to use it in your project. You should just run `composer require rackspace/php-opencloud` inside your project's directory.

I'm surprised composer doesn't complain that the dependencies can't be resolved since you're requiring `rackspace/php-opencloud` inside `rackspace/php-opencloud`.

[2016-07-12 18:31] hrazack commented on #678
Aaah, yes, well ok, that was a bit dumb.... :-) Thanks a lot for the help, Patrick, that's much appreciated!
All working perfectly now.

[2016-07-12 18:31] #678 closed, assigned to nobody

[2016-07-13 18:38] evach-vf opened #679 "Uploading a file with more than 9 segments renders it corrupted when retrieved"
When calling `Container::setupObjectTransfer()` with a lower `partSize` of 100MB to upload a 1+GB file, the file segments will upload correctly but when retrieving it through the API, it results in a corrupted file.

This occurs because of the numeric naming scheme used to name those segments.

A 10 parts file will be uploaded as follow:

[code]

but will be retrieved in alphabetic order like:

[c

[2016-07-15 14:18] kreeves opened #681 "Calling setToken() / authenticate() / getToken() returns a new token ID."
I'm trying to determine how this client code should behave. We're attempting to generate a valid token, and then re-use it between requests in PHP. The only way I can see to do this is with the code below. However, it appears that I'm still getting a new token with each call to "authenticate()"

[code]

Is this the intended behavior? Is there a different way I should be providing the $client with

[2016-07-16 07:48] jamiehannaford commented on #681
The `authenticate` method will always generate a token, that's its point: it performs a POST request to the identity API and gets back a catalog with a token embedded.

Here are some docs about how to cache credentials: http://docs.php-opencloud.com/en/latest/caching-creds.html. Is this what you're looking to do?

By default the SDK does not store credentials because it makes no assumptions about

[2016-07-16 15:29] kreeves commented on #681
Thank you @jamiehannaford , I think this is just what I was looking for!

[2016-07-16 15:29] #681 closed, assigned to nobody

[2016-07-20 10:03] nichkolase opened #682 "Installation failed, reverting ./composer.json to its original content."
I encounter the issue when downloading PHP-DI/Slim-Bridge.
I use command line on Mac
    ## **Nick-Mac:taiyiling Apple$ php composer.phar require php-di/slim-bridge**

The terminal error message shown as blow..
**Using version ^1.0 for php-di/slim-bridge
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requir

[2016-07-20 10:08] #682 closed, assigned to nobody

[2016-07-22 18:40] evach-vf opened #683 "Container::UploadObject() not returning Etag and ContentType"
When uploading an object using `Container::UploadObject()`, the returned object doesn't have their `Etag` and `ContentType` set, they're both `NULL`.

On success, both values should be set and returned.

Example code:

[code]

The same thing also occurs with `Container::UploadObjects()`

[2016-07-25 15:18] PatrickRose opened #685 "Can't copy an object without the metadata"
The [COPY action allows you to send the X-Fresh-Metadata header](http://developer.openstack.org/api-ref-objectstorage-v1.html#copyObject) to not copy the metadata, but it's not possible to do this via this API. I'd probably expect there to be an additional parameter for `copy` to set that header.

Are you accepting PRs for this repo still to add this? I'm aware that the v2 repository exists but th

[2016-07-25 15:27] PatrickRose commented on #641
Is it possible to revisit this? I keep getting bit by this a lot at the moment. If I want to get the `X-Delete-At` header I have to revert to using guzzle which is a really hacky way of doing things. `X-Delete-At` is mentioned in the API documentation as system metadata, so it seems to me that I should be able to get/set it as I could Content-Type, Last-Modified etc.

**EDIT**: I think the general

[2016-07-25 15:38] PatrickRose commented on #656
It's actually explicitly mentioned in the docs that [urlencoding should be done before it hits the SDK](http://docs.php-opencloud.com/en/latest/services/object-store/objects.html#create-an-object) - I'll close this.

[2016-07-25 15:38] #656 closed, assigned to nobody

[2016-07-26 09:23] jamiehannaford commented on #685
@PatrickRose Unfortunately not. I started a `v2` branch a few months ago for this GH repo:

https://github.com/rackspace/php-opencloud/tree/v2

But unfortunately I've been pulled onto another project recently, so had to temporarily shelve that work. If you'd like to add any new to work it would definitely be appreciated!

[2016-07-26 09:25] #679 closed, assigned to nobody

[2016-07-26 09:25] #677 closed, assigned to nobody

[2016-07-26 09:26] #669 closed, assigned to nobody

[2016-07-26 09:28] #660 closed, assigned to jamiehannaford

[2016-07-26 09:30] jamiehannaford commented on #675
@jjmontgo Instructions for creating temporary URLs are here: http://docs.php-opencloud.com/en/latest/services/object-store/access.html. If you need any more information, please comment on this thread and I'll reopen this issue.

[2016-07-26 09:30] #675 closed, assigned to nobody

[2016-07-26 09:31] #676 closed, assigned to nobody

[2016-07-26 09:33] jamiehannaford commented on #655
There is also a v2 branch of the Rackspace provider (https://github.com/rackspace/php-opencloud/tree/v2) which is PHP 7.

Closing this issue, but if you have any other questions please comment here and I'll reopen.

[2016-07-26 09:33] #655 closed, assigned to nobody

[2016-07-26 09:35] jamiehannaford commented on #654
Unfortunately we do not support anything below 5.4. I suspect it is a legacy performance issue or something to do with memory allocation.

[2016-07-26 09:35] #654 closed

[2016-07-26 09:37] jamiehannaford commented on #647
This is now offered in https://github.com/php-opencloud/openstack

[2016-07-26 09:37] #647 closed

[2016-07-26 09:39] #174 closed

[2016-07-26 09:40] jamiehannaford commented on #406
We will not be implementing this, Keystone is the recommended auth mechanism for OpenStack.

[2016-07-26 09:40] #406 closed

[2016-07-26 09:40] #419 closed

[2016-07-26 09:42] jamiehannaford commented on #564
I don't think it's a good idea to override catalog links, because it could encourage configuration mismatches (if a provider doesn't support TLS for example). Although this is a really bad thing, it's not the responsibility of an SDK to enforce provider best practices.

[2016-07-26 09:42] #564 closed

[2016-08-04 10:29] PandaNiss opened #686 "start or stop instance"
# Hello !

I don't know how to stop or start a server with PHP-opencloud, i didn't find any api call to these two functions.
someone can help please ?

[2016-08-08 17:46] brettnem opened #687 "GetObjects failure for file that exists"
Hello
I've been using the cloud files API for quite some time without issue. However, lately (last few months) I'm getting intermittent errors. When calling my $container->getObject($filename) I'm getting an exception. I've manually checked for the file and it really really is there. The container has about 9G of 1M-15M files, so there's a lot in it.

Here's the exception I'm getting. I've removed

[2016-08-09 15:19] #686 closed, assigned to nobody

[2016-08-18 16:41] macdabby commented on #627
Yes this was on Rackspace which runs OpenStack from what I understand.

[2016-09-01 06:08] cyberformed opened #688 "Cloud files integration with videjs player."
Can be cloud files api be integrated with videojs player. I just want have a video hosting website. I want to the video should played using the videojs plugin with HTML5 video tag. can it be possible?

[2016-09-01 09:43] jamiehannaford commented on #688
@cyberformed You can use the [`$object->getPublicUrl('Streaming')`](https://github.com/rackspace/php-opencloud/blob/working/lib/OpenCloud/ObjectStore/Resource/DataObject.php#L523) method to retrieve the streaming URL, and then use it in the HTML tag.

[2016-09-01 10:44] cyberformed commented on #688
Thanks for  your reply. one thing to ask can it be encrypted and can be only accessible for once. if someone has copied that link and opened somewhere else, can it be blocked using cloud files.

[2016-09-01 11:12] jamiehannaford commented on #688
@cyberformed No we don't offer that.

[2016-09-16 17:31] brettnem commented on #687
Hello, any update please? Thanks!

[2016-09-19 14:02] jamiehannaford commented on #687
@brettnem All I can suggest is to implement a retry handler that retries specific cURL/HTTP failures. To implement you will need to install the backoff plugin:

[code]

And then add this to your code:

[code]

That should retry all failed connections due to `[curl] 23` errors. This seems like a problem with either the API or your server environment, so I don't feel there's much an SDK can do here

[2016-10-01 12:37] mendrinos commented on #586
@jamiehannaford

Any update on this? It's been 1 year we are having this deprecated:
Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead.

[2016-10-02 12:59] jamiehannaford commented on #586
@mendrinos We will not be upgrading this v1 SDK to the newer Guzzle versions. There's already a v2 OpenStack SDK which uses the new dependency. The v2 Rackspace SDK is in the works.

[2016-10-02 13:46] mendrinos commented on #586
@jamiehannaford  Thanks for the clarification!

[2016-10-06 13:52] ks217 opened #690 "Curl errors when using claimMessages"
I am running a consumer using claimMessages function. It calls claimMessages (with a limit of 10) to "my_queue", processes the messages if any, and then sleeps for 60 seconds, and then calls again.

Today while running it, after approx 2 hours, it threw this curl error and the script stopped :
`[curl] 52 : Empty reply from server [url] https://iad.queues.api.rackspacecloud.com/v1/xxxxxx/queues/my_

[2016-10-13 06:37] ks217 commented on #690
Can someone please help me with this?
Still facing this issue intermittently.

[2016-10-13 09:50] jamiehannaford commented on #690
@kartik21790 For intermittent cURL errors, you will need to use a retry handler to retry failed connections:

https://gist.github.com/jamiehannaford/8432889

[2016-10-17 12:19] kynx opened #691 "v2 release?"
Don't mean to nag, but any idea on how the v2 stuff is progressing? From what I can tell it's some months since the v1 deprecation warning went up...

[2016-10-17 14:09] jamiehannaford commented on #691
@kynx Unfortunately I've been brought onto another internal project, so all SDK development is on hiatus for the foreseeable future. I will try to switch back to this project when I can but can't make any promises right now. All the work is on the `v2` branch, so feel free to check out if you would like.

[2016-10-17 14:48] kynx commented on #691
Thanks for the update. I'll give it a try :)

[2016-10-22 19:41] ronnieschuurbiers opened #692 "saveMetadata doesn't seem to work with Access-Control-Allow-Origin header"
I'm trying to upload a file from a website directly to Rackspace File Cloud with JavaScript so I'm not using my own servers bandwidth. I'm using this JavaScript code (https://developer.rackspace.com/blog/upload-files-directly-to-rackspace-cloud-files-from-the-browser/) with this PHP code (https://gist.github.com/jpilcher/923b823a9c6816250c56). In the browser console it says CORS-header ‘Access-Con

[2016-10-24 07:21] jamiehannaford commented on #692
Try this instead:

[code]

Note the second arg.

[2016-10-25 06:44] ks217 commented on #690
thanks a lot @jamiehannaford :)
This Guzzle Backoff Plugin will be very helpful for this case.
I have switched to a cron instead of a continuous running process after which curl errors never occurred, hence haven't given it a try.

Closing this issue as of now.

[2016-10-25 06:44] #690 closed, assigned to nobody

[2016-10-25 18:15] ronnieschuurbiers commented on #692
That didn't work either, but you got me on the right track so thanks anyway :) Apparently this works:

`$result = $container->saveMetadata(array(
            'X-Container-Meta-Access-Control-Allow-Origin' => '*',
        ), false);`

[2016-10-26 10:51] jamiehannaford commented on #692
Glad you sorted it out!

[2016-10-26 10:51] #692 closed, assigned to nobody

[2016-10-27 12:10] calofiremil commented on #632
I have a similar problem, see below, when trying accessing server metadata

So i can't use

`foreach ($serverList as $server) {
   printf("%s\n", $server->id);
}
`

to list my servers. I'm getting

`[curl] 52: Empty reply from server [url] http://mydomain:8774/v2/03932c400ac947eb8a60f17fda9a28b9/servers/82c562dc-7cdc-4092-85b4-aeca6d9b3b4a/metadata
`

My computeService `$service = $client->compute

[2016-10-27 12:20] jamiehannaford commented on #632
@calofiremil This turned out to be a problem with @joubertredrat's OpenStack API. @joubertredrat, do you remember how you fixed it?

[2016-10-27 13:04] calofiremil commented on #632
Thank you for replying so quickly!
I made a request `$service->serverList()` and obtain a detailed list of servers of a tenant.
Is there another way of extracting that server list from the `PaginatedIterator` ?
I'm a bit confused, why during server list iteration a new request, for metadata, for each server is made if i already have all the details i need?

[2016-10-27 13:09] jamiehannaford commented on #632
@calofiremil Because a decision was made early on in the SDK to request the server metadata every time a new Server object is instantiated. I think it was a very bad idea, but we have to keep it in to maintain backwards compatibility. You can suppress the errors:

Is it possible for you to comment out this line? https://github.com/rackspace/php-opencloud/blob/working/lib/OpenCloud/Compute/Resource

[2016-10-27 13:27] calofiremil commented on #632
That resolve my problem, but unfortunately I'm using Symfony framework and this modification inside `vendor/rackspace/php-opencloud/lib/OpenCloud/Compute/Resource/Server.php` will not be propagated when deploying.

[2016-10-28 13:53] calofiremil commented on #632
Well, i was forced to overwrite the `OpenCloud/Common/Collection/PaginatedIterator.php` and add a new method `getElements()` to solve this particular case

[2016-11-08 01:37] redthor commented on #586
FWIW I've updated the dependencies in this branch:
https://github.com/redthor/php-opencloud/tree/fix/guzzlehttp
and the unit tests pass. I don't have an opencloud account so I haven't tried the acceptance tests.

I only tried it due to https://github.com/KnpLabs/Gaufrette/issues/426

[2016-11-24 19:37] kynx commented on #691
@jamiehannaford I've tried to get the tests running on the v2 branch, but there are a number of changes required before I can even get that far :(

* The OpenCloud namespace is now OpenStack
* Most of the models should now extend OperatorResource instead of AbstractResource
* A number of the Api methods called in the Models have been renamed.

I can do a PR with progress to date, but it'll be big.

[2016-11-28 12:22] jamiehannaford commented on #691
Hi @kynx, unfortunately I no longer maintain this repo (I've been brought onto another project). We're still looking for a replacement. I would advise you break up your PR into smaller components so that the new maintainer has an easy job in merging them.

[2016-11-28 13:07] kynx commented on #691
Yeah that's too bad @jamiehannaford. I'll do that if I can find the time.

[2017-02-08 17:42] dmagoo commented on #658
Wait, so when you claim a batch of say, 10 messages, if you release one, you have to release all of them? What are you supposed to do if you need to release some, but not all?

For now, this seems to work ok:

[code]

[2017-02-15 18:12] ilyesbenkhaled commented on #250
i have the same problem with symfony 3.2

[2017-02-16 15:37] dmagoo opened #696 "Documentation on Queue Messages Missing Important Info"
The following code from the documentation threw me for a loop.  Nowhere could I find documentation of what sort of object "listMessages" returns. It happens to be a MessageIterator, which is a subclass of a PaginatedIterator. This is confusing, because, when I query a queue with 20 items with a limit of say, 5, the foreach loop still iterates through all 20.  I'm not sure if this is a bug or featu

[2017-02-16 16:39] dmagoo commented on #696
After more digging, I found that there is no way to retrieve easily retrieve the marker for future use. Forums suggest that this is because the marker is abstracted and not needed.  If this is true, I'm still confused why marker is allowed as an argument.

In my particular application, I cannot guarantee that messages will be harvested in a single execution of a script, so I would need to maintain

[2017-02-17 05:47] jashimcse2015 commented on #250
{
    "require": {
        "rackspace/php-opencloud": "dev-master"
    }
}
it dose not work again message :Installation failed, reverting ./composer.json to its original content.

[2017-02-22 14:44] drjonnicholson commented on #586
Thanks to @jamiehannaford for explaining the roadmap and that updating this dependency will not be done in v1.

Just wondering if there is there any update as yet on when V2 is expected to be released?

[2017-02-24 11:04] housni opened #697 "How do I create a volume from a snapshot?"
Unless I'm mistaken, I don't see an option to create a volume from a snapshot. Is this at all possible?

This is essentially because I want to make a copy of an existing volume so I'd first create the snapshot and then I wanted to make a volume out of that but I don't see anything in the docs to this effect.

[2017-03-06 05:56] dativavalentine commented on #250
[ERRORS.docx](https://github.com/rackspace/php-opencloud/files/820240/ERRORS.docx)

[2017-03-06 05:58] dativavalentine commented on #250
i am installing the laravel passport it brings me an error. BUt i have already install laravel 5.3
what is the problem. Pliiz heelp
Thanks in advance

[2017-03-11 01:14] sneakyimp opened #698 "composer installation complaints/warnings"
Just installed the very latest php-opencloud into a totally blank server in a completely empty folder. It's still using a deprecated library (see #586 ) but also has some symfony warnings. To be honest, this is making me wonder if I should even bother using php-opencloud. I hear warnings from 5 months ago about V2 coming out, but no hint of it yet AFAIK.

[code]

[2017-03-11 03:21] sneakyimp commented on #586
#Crickets. Doesn't look like we'll ever get a new version -- at least not here. Hannaford said above one would be ready around mid-May 2015 (almost two years ago). He apparently moved the project [here](https://github.com/php-opencloud/openstack) but he also said 5 months ago that

Any suggestions about how to proceed would be helpful. I'm working on a project that uses the Rackspace cloud and nee

[2017-03-11 23:47] jamiehannaford commented on #586
Imp, feel free to use the [v2](https://github.com/rackspace/php-opencloud/tree/v2) branch or adapt what you need from the openstack SDK. I do not maintain this project any more. For SDK questions please contact sdk-support@rackspace.com.

[2017-03-11 23:47] #586 closed

[2017-03-11 23:48] jamiehannaford commented on #698
This has been addressed by https://github.com/rackspace/php-opencloud/issues/586#issuecomment-285909665.

[2017-03-11 23:48] #698 closed, assigned to nobody

[2017-03-11 23:49] jamiehannaford commented on #697
You can from the new OpenStack SDK but not this one. Sample is [here](https://github.com/php-opencloud/openstack/blob/master/samples/block_storage/v2/volumes/create_from_snapshot.php).

[2017-03-15 03:10] sneakyimp opened #699 "This project is dead"
The [README](https://github.com/rackspace/php-opencloud/blob/working/README.md) for this project is incorrect. It says:

The Rackspace twitter acocunt has [stated](https://twitter.com/Rackspace/status/841428796410609664) that there is no ETA for php-opencloud V2.

No one has touched this repo since July 2016. No one has touched the [v2 version](https://github.com/rackspace/php-opencloud/tree/v2) s

[2017-03-15 13:19] kynx commented on #699
Have you tried emailing sdk-support@rackspace.com? Putting pressure on them is probably the best bet, esp if you're a paying customer.

[2017-03-15 17:16] sneakyimp commented on #699
I have. No response. Makes it really hard to justify building one's business on rackspace technology if they are letting their PHP SDK just wither and die.

[2017-03-16 17:49] sneakyimp commented on #699
I spoke to someone at Rackspace each day for the past 3 days. I was told that development work on V2 was "on hold indefinitely." For all intents and purposes, this project is DEAD. USE AT YOUR OWN RISK.

[2017-03-16 20:09] kynx commented on #699
If you're looking to transition away, I'd recommend an abstraction layer so changing providers isn't such a hassle. I use:

https://github.com/thephpleague/flysystem
https://github.com/bernardphp/bernard

[2017-03-16 21:03] jamiehannaford commented on #699
@sneakyimp I'll try to provide more context, but I assume a lot of this has already been shared with you. Our SDK team went through some changes a year or so back, and a few of the developers moved to other projects (myself included). This is why the v2 Rackspace provider was put on hiatus (the in-progress work is still in the v2 branch). Beforehand I had managed to finish the OpenStack v2 driver.

[2017-03-16 21:03] #699 closed, assigned to nobody

[2017-03-17 17:15] #688 closed, assigned to nobody

[2017-03-17 17:15] #691 closed, assigned to nobody

[2017-03-17 17:15] #687 closed, assigned to nobody

[2017-03-17 17:17] #587 closed

[2017-03-22 19:02] trideout opened #700 "Update to supported version of guzzle"
The version of guzzle/http which is required by this package is not supported and should be changed to use a modern version of the Guzzle package.

[2017-03-22 19:19] trideout commented on #700
addressed in #586

[2017-03-22 19:19] #700 closed, assigned to nobody

[2017-03-28 05:37] sneakyimp commented on #586
"nothing to see here."

BTW, official word from rackspace is that "V2 is not being actively developed." Rackspace still references this now-dead and not-being-updated from their [documentation](https://developer.rackspace.com/sdks/php/)

This is totally, completely lame.

[2017-03-29 16:13] ucsdmath opened #701 "guzzlehttp/guzzle switch-over"
Would it be easy to update and use `guzzlehttp/guzzle`.  You may already know `guzzle /guzzle` is at abandoned state and no longer maintained.  Thank you and keep up the great work.

[2017-03-29 19:56] catlook opened #702 "Search for support-sdk@racksapce.com and remove"
any found

[2017-03-31 14:30] catlook commented on #702
Found these:
./CODE_OF_CONDUCT.md:reported by contacting a project maintainer at sdk-support@rackspace.com.
./doc/index.rst:sdk-support@rackspace.com.

[2017-04-03 09:27] jamiehannaford commented on #702
Addressed by #705

[2017-04-03 09:27] #702 closed, assigned to nobody

[2017-04-07 03:44] ashishjohnnet commented on #250
Enter package # to add, or the complete package name if it is not listed: 2
Enter the version constraint to require (or leave blank to use the latest version): 3.4
Search for a package:
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Pr

[2017-04-19 00:29] Darunada opened #707 "updateCertificateMapping returns empty body"
Updating a certificate mapping is documented to have a response body here: https://developer.rackspace.com/docs/cloud-load-balancers/v1/api-reference/certificatemappings/#update-certificate-mapping

[code]

After this line executes, $response has statusCode 202 and reasonPhrase "Accepted" but the "body" is empty.  Then ```$response->json();``` returns an empty array.

I'm not sure if this is a bug

[2017-04-27 00:54] georaldc opened #708 "Token not expired, but randomly getting 401 Unauthorized errors?"
Don't know if this is the right repo to post this issue/question, but what would cause API access to suddenly stop working with a valid token? I currently use the php SDK to upload files to Cloud Storage and while this has worked fine for a while now using code similar to http://php-opencloud.readthedocs.io/en/latest/caching-creds.html to cache tokens locally, this all of a sudden stopped being ef

[2017-04-30 23:53] PatrickRose commented on #708
Tokens from keystone only last one hour by default so you might need to do
some configuration.

On 27 Apr 2017 01:54, "Georald Camposano" <notifications@github.com> wrote:

Don't know if this is the right repo to post this issue/question, but what
would cause API access to suddenly stop working with a valid token? I
currently use the php SDK to upload files to Cloud Storage and while this
has work

[2017-05-01 03:33] georaldc commented on #708
I thought they were valid for 24 hours? Also, I noticed that the tokens start working again after a while.

[2017-05-05 06:55] blackbai commented on #250
have you resolve?

[2017-05-14 10:50] #55 closed

[2017-05-14 10:50] jamiehannaford commented on #55
Closing as no new work will happen on this codebase.

[2017-05-21 13:58] #308 closed

[2017-05-21 13:59] #322 closed

[2017-05-21 14:00] jamiehannaford commented on #308
Closing due to inactivity and unmaintained nature of this project.

[2017-05-21 14:00] jamiehannaford commented on #322
Closing due to inactivity and unmaintained nature of this project.

[2017-05-29 22:50] sneakyimp commented on #701
Second this. Pretty stark warnings when you install php-opencloud:
[code]

[2017-05-30 01:43] ucsdmath commented on #701
There are many contributors to php-opencloud.  Maybe a switch will be here shortly.

[2017-06-23 09:45] #337 closed

[2017-06-23 09:46] #610 closed

[2017-06-23 09:46] #613 closed

[2017-06-23 09:48] #633 closed

[2017-09-06 22:32] claytonfbell commented on #701
`Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead.`

[2017-09-08 15:18] jamiehannaford commented on #701
I'd really like for this to happen, but unfortunately this codebase no longer has developers working on new feature work. The supported SDK is https://github.com/php-opencloud/openstack which uses a later version of Guzzle and has active developers working on it.

[2017-09-13 23:04] chaynes-ws opened #713 "Documentation incorrectly refers to nonexistent $client->monitoringService"
The service method for the Monitoring API is Rackspace ::cloudMonitoringService but the documentation in doc/services/monitoring/index.rst refers to:
  $service = $client->monitoringService('{catalogName}', '{region}', '{urlType}');

[2017-09-14 07:59] php5developer opened #714 "Can't Enable CDN"
I get following error while trying to enable CDN:

Call to a member function getUrl() on null  in ~root\vendor\rackspace\php-opencloud\lib\OpenCloud\ObjectStore\Resource\Container.php

[code]

Any ideas how to solve this issue?

[2017-09-17 03:04] lvxiaoqi opened #715 "how to switch api version in php file?"
i want use Identity API v3 and how do ？

[2017-09-17 20:48] jamiehannaford commented on #715
Rackspace doesn't support V3. The OpenStack SDK does though: https://github.com/php-opencloud/openstack

[2017-09-17 20:48] #715 closed, assigned to nobody

[2017-09-18 05:19] lvxiaoqi commented on #715
thank you for your answer,we will to encapsulation this part.thanks!

[2017-10-02 15:41] ghost opened #716 "Endpoint factory times out if any of the URLs in the service catalog are inaccessible"
I'm trying to connect to the networking service, whose service catalog entry looks like this:

[code]

My code looks like this:
[code]
I can't reach the 10.105 subnet, but that's fine because I just want to use the public endpoints. But I get a timeout from the factory as it tries to contact the internalURL.
Looking more closely, the timeout is happening within the `getVersionedURL` call from with

[2017-10-11 02:12] ghost opened #717 "php-opencloud Openstack API usage problem"
I encountered such a problem: "Client error response [status code] 401 [reason phrase] Unauthorized [url] http://10.203.87.199:5000/v2.0/tokens", tried a lot of ways, always wrong, some people encountered what

[2017-10-11 20:09] AtmanCore commented on #301
I have to print the progress in Javascript function. I am new to getEventDispatcher. Can anybody tell me how can I show progress in JS after uploadObject called ?

Thanks,

[2017-10-12 12:41] AtmanCore opened #718 "uploadObjects progress in js/ajax"
I am using uploadObjects to upload files and it's working great thanks to development team.

I am bit new to using getEventDispatcher can anybody tell me while uploadObjects processing upload How can i print progress on page using ajax or something else.

Thanks,

[2017-10-12 13:46] AtmanCore commented on #178
@stephenbunch do you have code that write to database or where you listening to event?

Thanks,

[2017-10-20 09:18] defaultpage opened #719 "Duplicate assignment"
Duplicate assignment in lines `83` and `85`  of the [CatalogService.php](/rackspace/php-opencloud/blob/working/lib/OpenCloud/Common/Service/CatalogService.php#L83-L85) file:

[code]
The file history: 8e5967b9541d41ac62779ae2dd29b42e60441674 98a0c2da0ba1fcbd5356da94a47778e55c84fe3a 1b49791aed8d1d18b7dc301906cd5bbbe8e1abd3

[2017-10-20 13:36] dsinnet opened #721 "Is it possible to retrieve multiple objects based on conditions (Files PHP SDK)"
I am trying to retrieve file objects based on criteria regarding the path of the file. I know cloud files don't work on a directory structure but never-the-less that is how I need to approach the problem. For example:

I have a series of top level properties with unique id's and then various nested structures containing files. i.e.

XXXX0/images/image1.jpg
XXXX0/images/image2.jpg
XXXX0/documents/d

[2018-01-18 06:29] adil117 commented on #250
Hi iam having this problem can any one resolve it
Using version ^2.0 for laravel/dusk
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v5.4.32
    - Conclusion: don't install laravel/f

[2018-01-18 06:32] adil117 opened #723 "Installation failed, reverting ./composer.json to its original content."
Using version ^2.0 for laravel/dusk
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v5.4.32
    - Conclusion: don't install laravel/framework v5.4.32
    - laravel/dusk v2.0.0 require

[2018-01-29 15:20] pinninti19 commented on #250
Hi, similar problem, can any one help me how to fix it. Thanks!

Using version ^1.0 for rstgroup/zf-local-config-module
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - phpunit/phpunit 5.7.9 requires ext-dom * -> the requ

[2018-02-16 00:13] georaldc commented on #708
So I’m starting to have this problem again but more frequently this time. I use a queue to move uploaded files from our web server to Cloud Storage and API access would just stop working with 401 errors. This again is with unexpired tokens too so my code isn’t getting the chance to refresh them. If I retry my failed queue jobs though after waiting a while (and with the same cached token), they sta

[2018-02-23 06:08] priyeshwar-AGL commented on #250
Hi I have this issues please get and fix
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v5.1.46
    - Conclusion: don't install laravel/framework v5.1.46
    - barryvdh/laravel-debugbar v3.1.0 requires illuminate/routing 5.5.x -> satisfiable by illuminate/routing[v5.5.0, v5.5.16, v5.5.17, v5.5.2, v5.5.28, v5.5.33,

[2018-02-26 13:07] #641 closed

[2018-03-01 02:39] Leleking commented on #250
hello, hard the same problem and i resolved it by just changing my internet service provider. I was using my school's public wifi for my work but when i switched to a simple MTN modem it worked so easily so try changing your internet service provider and lets see what happens

[2018-05-02 12:04] jcoetsie opened #724 "config_drive attribute is not handled"
Hi,

when issuing a server create with attribute "config_drive" set to True it is not passed to the Rackspace Cloud API and as such a config drive is not created.

[2018-05-04 10:34] jayantsr83 commented on #250
I just removed the version and it works for me

[2018-05-04 11:12] Rania2910 commented on #250
@jayantsr83  can you please tell me how you removes the version ?

[2018-05-04 11:21] jayantsr83 commented on #250
Like in my case i just remove 1.0.0 at the end of Installation request for rackspace/php-opencloud 1.0.0

[2018-05-07 20:53] firemankurt opened #725 "Guzzle needs to be version >=6.3 to avoid error in PHP7.2"
See: https://github.com/guzzle/guzzle/issues/1956

Guzzle needs to be version >=6.3 to avoid error in PHP7.2

Don't know if you can just update composer.json to say "guzzlehttp/guzzle": "~6.0" or if other code needs updating.

[2018-05-29 16:56] georaldc opened #726 "For Cloud Files, I can retrieve an object (getObject method) but cannot delete same object"
I've been running into a really random issue where some (not all) objects we have stored on Cloud Files cannot be deleted. I can do a getObject() just fine and even do an objectExists() check against it but a deleteObject() command will always end up with the SDK/Guzzle throwing a 404 Not Found ClientErrorResponseException. The target URL does exist since I am able to retrieve the object (and chec

[2018-06-16 00:01] garrettgjb opened #727 "Cert issue with opencloud"
This is happening both locally and on the production server so I'm guessing you guys changed the cert recently and the provider is not very common. I even downloaded the ca bundle from https://curl.haxx.se/ to see if my certs were out of date but that didn't fix it. Any suggestions?

I have php 5.6 and we are using "rackspace/php-opencloud": "v1.16.0",

[code]

[2018-06-16 00:14] mfrobben commented on #727
Plus one - this is causing an outage in production as we can't upload generated images to our IAD storage bucket.

[2018-06-16 00:15] mfrobben commented on #727
```exception 'Guzzle\Http\Exception\CurlException' with message '[curl] 60:  [url] https://identity.api.rackspacecloud.com/v2.0/tokens'```

[2018-06-16 00:36] kynx commented on #727
Yeah. Problem is that the ancient Guzzle this depends on bundles its own certs.

Workaround is to use your system certs. My factory now looks sumthink like:

[code]

[2018-06-16 01:00] mfrobben commented on #727
Thanks @kynx!!

[2018-06-16 02:45] mrydz commented on #727
Thanks @kynx ! Nothing like debugging a production issue on a Friday.

[2018-06-16 04:48] garrettgjb commented on #727
Thanks @kynx for the workaround.

[2018-06-16 15:53] adavidiuk opened #728 "Cloud files API JCLOUD issues"
Is anyone having problems with the JAVA Cloud Files APIs x CA cert?

[BackoffLimitedRetryHandler] Cannot retry after server error, command has exceeded retry limit 5: [method=org.jclouds.rackspace.cloudidentity.v2_0.CloudIdentityAuthenticationApi.public abstract org.jclouds.openstack.keystone.v2_0.domain.Access org.jclouds.rackspace.cloudidentity.v2_0.CloudIdentityAuthenticationApi.authenticateWit

[2018-06-16 19:21] garrettgjb commented on #728
I think they changed their cert yesterday, similar issue here: https://github.com/rackspace/php-opencloud/issues/727

You can probably import their new cert into your java keystore.

[2018-06-18 09:41] pvdhurk commented on #727
Thanks @kynx !!

[2018-06-18 12:33] mavykins commented on #727
Thanks @kynx . Wondered why I came into work finding a massive log file complaining about fileupload error's

[2018-06-18 20:41] n-scott commented on #727
Is Rackspace going to replace their dependency on guzzle/guzzle with guzzlehttp/guzzle?

[2018-06-19 00:03] Ernestochacon commented on #728
hi, i still don´t had  the answer, because this https://community.rackspace.com/search?q=java&group=5#serpsort=date%20desc still don't  work on me. I followed the instructions but still send me the same messaje.

[2018-06-19 00:40] lrrosa opened #729 ""Package guzzle/guzzle is abandoned" warning when installing php-opencloud"
When installing php-opencloud I receive the following warning message:
"guzzle/guzzle suggests installing guzzlehttp/guzzle (Guzzle 5 has moved to a new package name. The package you have installed, Guzzle 3, is deprecated.)
Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead."

Is there any plan to upgrade it?

[2018-06-19 01:25] lrrosa commented on #727
Hi @kynx. In wich file should I use this patch?
Thanks.

Edit:
For now I just replaced Guzzle certificate file and everything is working again.
See: https://community.rackspace.com/products/f/dedicated-hybrid-hosting-forum/8674/rackspace-public-cloud-php-opencloud-sdk-errors-due-to-outdated-certificate-authority-list

[2018-06-19 15:09] adavidiuk commented on #728
I have tried to solve all ways, such as importing the file, rename, move it to folder JBOSS, etc...but It hasn´t works.

[2018-06-19 17:47] kynx commented on #727
@lrrosa the snippet I posted is from where I create the [Rackspace client](http://docs.php-opencloud.com/en/latest/getting-started-with-rackspace.html#setup-the-client-and-pass-in-your-credentials) in my code, not from anywhere in php-opencloud. HTH.

[2018-06-20 14:18] ghost opened #730 "Load Balancer certificateMappingList error"
I can create a certficate mapping but when I come to view the list of certificate mappings I get a PaginatedIterator object which contains the correct number of CertificateMapping but each one doesn't contain any data.

I first authenticate and then do the following:

$loadbalancer = $client->loadBalancerService( null, 'LON' );
$lb =  $loadbalancer->loadBalancer(xxxxxx);
$list = $lb->certificateMa

[2018-06-27 08:05] DavidGoodwin commented on #729
https://github.com/rackspace/php-opencloud/issues/701#issuecomment-328132757

Seemingly not.

[2018-07-03 18:39] lcjury commented on #708
I'm moving our file storage to Rackspace cloud files and we're having the same issue, randomly, sometimes I upload a file and get a 401 error (Unauthorized), but if I try again, everything works as expected.

[2018-07-03 20:36] georaldcamposano commented on #708
I spoke to Rackspace support a few weeks ago about the authentication issues. They said that this was an ongoing issue on their end that they were working on to resolve

[2018-07-03 20:38] georaldc commented on #708
I spoke to Rackspace support a few weeks ago about the authentication issues. They said that this was an ongoing issue on their end that they were working on to resolve, so this is probably more of an internal issue there

[2018-07-03 20:39] #708 closed, assigned to nobody

[2018-07-03 20:39] lcjury commented on #708
@georaldc Have you done something to survive until they solve this issue?. I have some code who just fails and leave tasks without ending because of this.

[2018-07-03 20:44] georaldc commented on #708
@lcjury fortunately for me, most of my code that interacts with rackspace live as jobs managed by beanstalkd and are not exactly time-critical so ones that fail either stay buried or get retried automatically

[2018-07-09 00:08] mrinmayk opened #732 "Tried to fix Image send failure on hosted app -"
Hello,

I replaced the cert.pem file with the cacert.pem file as mentioned in the link below-
https://community.rackspace.com/products/f/dedicated-hybrid-hosting-forum/8674/rackspace-public-cloud-php-opencloud-sdk-errors-due-to-outdated-certificate-authority-list?_ga=2.194649517.1057453162.1531093686-1227313324.1530913948 in the /usr/production/nginx folder.

This replacement was as per suggestion

[2018-07-09 07:40] Tamizhanstalin commented on #250
Your requirements could not be resolved to an installable set of packages.
composer require furqansiddiqui/ethereum-rpc
i am facing this error, any solution pls

Problem 1
    - Installation request for furqansiddiqui/ethereum-rpc ^0.1.1 -> satisfiable by furqansiddiqui/ethereum-rpc[0.1.1].
    - furqansiddiqui/ethereum-rpc 0.1.1 requires furqansiddiqui/http-client dev-master -> satisfiable by fur

[2018-07-09 17:06] kynx commented on #732
I didn’t replace the certs, just told it to use the system ones. See https://github.com/rackspace/php-opencloud/issues/727#issuecomment-397773223

This is probably more robust: your is should keep up-to-date CAs.

But just a thought - you did restart nginx after your changes?

[2018-07-24 14:00] messipag commented on #250
It work for me when i removed the version

[2018-07-26 14:58] El-Diablo1 commented on #250
just remove the version and i will work
command Below.
composer require "laravelcollective/html"

[2018-07-27 04:46] Tamizhanstalin commented on #250
yes thanks

[2018-08-01 21:44] itspkr commented on #727
FYI - I needed this for one of my own projects so I created a seperate wrapper at:
https://github.com/itspkr/rackspace-cloud-flysystem

Literally just points Guzzle back at the system certifcates rather than the outdated ones inside Guzzle.

[2018-08-05 17:47] DrizzlyOwl commented on #730
Having the exact same issue

[2018-08-08 12:42] prashantkambar opened #733 "Installation failed, reverting ./composer.json to its original content."
Problem 1
    - The requested package opentok/opentok No version set (parsed as 1.0.0) is satisfiable by opentok/opentok[No version set (parsed as 1.0.0)] but these conflict with your requirements or minimum-stability.
  Problem 2
    - phpunit/phpunit 5.7.9 requires ext-dom * -> the requested PHP extension dom is missing from your system.
    - phpunit/phpunit 5.7.8 requires ext-dom * -> the requ

[2018-09-04 21:39] drrhf commented on #725
I'm not sure where to mention this, but google-api-php-client-2.22 (the latest I think) still fails with the 'count()' error discussed in [guzzle/guzzle#1956](https://github.com/guzzle/guzzle/issues/1956) when using PHP Version 7.2.8.

[2018-10-02 21:58] simongustavo opened #735 "Error with PHP 7.2.10"
Hi,

I've been struggling to work with the v2 version of this library. I've installed composer require rackspace/php-opencloud:2.x-dev and I'm getting many errors. Documentation is quite poor, I'm just relying on the samples.  Is this abandoned or should I use OpenStack library directly?

`
$rackspace = new Rackspace\Rackspace([
                'username' => $this->RACKSPACE_USERNAME,

[2018-10-30 03:21] mdsayedarif84 commented on #250
Hi pls anyone help me,how i solve this problem.pls pls pls
:\fs-xampp\htdocs\ecommerce>composer require gloudemans/shoppingcart
Using version ^2.5 for gloudemans/shoppingcart
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1

[2018-12-06 19:50] irfan-mirza686 opened #737 "Shopping Cart Package not installed , someone help me please"
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for gloudemans/shoppingcart ^2.5 -> satisfiable by gloudemans/shoppingcart[2.5.0].
    - Conclusion: remove laravel/framework v5.7.16
    - Conclusion: don't install laravel/framework v5.7.16
    - gloudemans/shoppingcart 2.5.0 requires illuminate/events 5.1.*|5.2.*|5.3.*|5.4.*|5.5.*|

[2018-12-12 03:38] EricGSX opened #738 "[curl] 60: SSL certificate problem: unable to get local issuer certificate [ur"
[curl] 60: SSL certificate problem: unable to get local issuer certificate [url] https://identity.api.rackspacecloud.com/v2.0/tokens

[2018-12-13 07:54] cyberkishor commented on #738
Same for me, In my local working fine without any error but in the server it returns the same error

@EricGSX post solution if you find

[2018-12-13 08:11] cyberkishor commented on #738
@EricGSXI found the solution

if you replace vendor/guzzle/guzzle/src/Guzzle/Http/Resources/cacert.pem file with https://curl.haxx.se/ca/cacert.pem file your problem will solve i think.

[2018-12-14 05:23] #738 closed, assigned to nobody

[2018-12-14 05:24] EricGSX commented on #738
Thank you very much. I have solved this problem in this way

[2019-01-04 11:38] jcord04 commented on #729
Any news on this? Issue #701 is no longer available.

[2019-01-09 07:51] fielmln123 commented on #250
λ Composer require nesbot/carbon
Using version ^2.10 for nesbot/carbon
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - laravel/framework v5.7.20 requires nesbot/carbon ^1.26.3 -> satisfiable by nesbot/carbon[1.26.3, 1.26

[2019-01-20 16:15] muhammadshahidraficp commented on #250
![screenshot from 2019-01-20 21-43-47](https://user-images.githubusercontent.com/33256146/51441895-8cbc5580-1cfc-11e9-8de9-05178f82ec19.png)

what to do?

[2019-02-18 16:16] ibrahimsayar commented on #250
Thanks, really run

[2019-03-02 23:05] DrizzlyOwl commented on #730
Leaving this here for future reference:
The initial call to the LoadBalancerService returns incorrectly 'keyed' items in the Iterator.

Workaround using:
[code]

[2019-05-19 07:30] azeemkhalil commented on #250
did yo solve it ???

[2019-08-09 20:44] DrizzlyOwl opened #740 "SSL Certificate is no longer trusted"
I'm unable to connect to https://lon.servers.api.rackspacecloud.com/ using guzzle anymore as the SSL certificate in use is no longer trusted.

Mozilla Firefox reports that Certificates issued by GeoTrust, RapidSSL, Symantec, Thawte, and VeriSign are no longer considered safe because these certificate authorities failed to follow security practices in the past.

I believe this is likely related to

[2019-08-09 23:33] kynx commented on #740
Dunno. You seen https://github.com/rackspace/php-opencloud/issues/727?

[2019-08-10 09:13] DrizzlyOwl commented on #740
I'm not presented with the same curl error number.
My factory looks like this

[code]
and I mitigated the certificate authority issue by updating guzzle's CA store
[code]
The debug option from guzzle reports:
[code]
and I get
[code]
back from the Guzzle exception

[2019-08-10 22:45] kynx commented on #740
Hrm... you're right. I don't use PHP for talking to the servers endpoint. Other endpoints and regions look OK. Sounds like one for Rackspace support.

[2019-08-27 18:30] andrepinheiro111 commented on #250
que problema e esse:

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - laravel/dusk v3.0.10 requires nesbot/carbon ~1.20 -> satisfiable by nesbot/carbon[1.20.0, 1.21.0, 1.22.0, 1.22.1, 1.23.0, 1.24.0, 1.24.1, 1.24.2, 1.25.0, 1.25.1, 1.25.3, 1.26.0, 1.26.1, 1.26.2, 1.26.3, 1.26.4, 1.26.5, 1.26.6, 1.27.0, 1.28.0, 1.29.0, 1.29.1, 1.29.2, 1.30.0, 1.31.0, 1.

[2019-09-16 10:36] mamun417 commented on #250
Which version you use? please tell me.

[2019-09-16 10:38] riponahmed2201 commented on #250
which version you use? please tell me.

[2019-09-25 15:00] loicmitton opened #741 "Access-Control-Allow-Origin not working with get getTemporaryUrl"
Hello,

I'm trying to create a php script that will be called from javascript to get a temp url to upload file.

I have this code :

 $container->saveMetadata(array(
	'Access-Control-Allow-Origin' => '*',
'X-Container-Meta-Access-Control-Allow-Origin' => '*'
));
$filename = com_create_guid();
//echo $filename;
$object = $container->dataObject();
 $object ->saveMetadata(array(
	'Access-Control-Allo

[2019-09-25 23:34] #741 closed, assigned to nobody

[2019-09-25 23:35] loicmitton commented on #741
Container header was wrongly set.

[2019-10-25 05:19] rajesh-sargam commented on #250
i have used laravel 5.4

[2019-10-26 13:54] ronnieschuurbiers opened #742 "Bad request checking if an object exist with special character in name"
When I try to check if an object exists with object name `ü.jpg` I get a 400 bad request error. Other special characters like `@.jpg` work fine.

Is there any documentation what characters are (not) allowed for an object name?

[2019-11-05 19:25] JosephArch commented on #250
Using version ^8.0 for laravel/passport
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for laravel/passport ^8.0 -> satisfiable by laravel/passport[v8.0.0].
    - Conclusion: remove laravel/framewor

[2019-11-11 16:51] DrizzlyOwl commented on #740
OK so after a good head scratch I found out that it was the PHP OpenSSL configuration. I use Docker so I simply shipped my own copy of the default openssl.conf but with a minor amendment.
[code]
Whilst this is not the most glamorous solution, it works for my use case.

[2019-11-11 16:51] #740 closed, assigned to nobody

[2019-12-18 23:37] fusionfoto opened #743 "stream support isn't really streaming..."
It appears, that when wants to access a large (>5GB) object via stream...

  $objectContent = $file->getContent();
  $objectContent->rewind();
  echo (stream_get_contents ($objectContent ->getStream(), 500000,0));

The entire file is pulled from the object store and written to /tmp before streaming can begin... so we are basically just opening a local file as a stream. Since Swift already supports

[2019-12-25 18:18] designer999 commented on #250
how to remove version and where please

[2020-02-10 11:24] sadianko opened #744 "Script @php artisan package:discover --ansi handling the post-autoload-dump event returned with error code 1"

[2020-03-13 01:54] donphelix commented on #250
@designer999  Having the same problem,
 did you find the solution?

[2020-03-13 14:47] Mansourkira commented on #250
just run this :
composer require laravel/ui "^1.0" --dev

php artisan ui vue --auth

[2020-03-18 21:47] arlomedia commented on #727
The solutions above didn't fix the problem for me, but this solution did:

https://wordpress.org/support/topic/rackspace-peers-certificate-issuer-is-not-recognized/#post-10526368

[2020-03-19 05:27] dedediana commented on #250
Work for me using Laravel 6.18.0

[2020-03-24 05:45] farridkun commented on #250
Ahooy!, its work thanks bro!

[2020-03-25 02:41] HadiNiazi commented on #250
It works fine for me when i removed the version.
before command is : composer require "laravelcollective/html":"^5.4.0"

#After removing version : composer require "laravelcollective/html"

[2020-04-07 16:45] shindekalpesharun commented on #250
It works on ubuntu and must be **check laravel set environmental**
$ **composer create-project laravel/laravel BlogLaravel "7.*"**

for composer and laravel set envrmental path
**$ export PATH="$PATH:$HOME/.composer/vendor/bin"
$ echo 'export PATH="$PATH:$HOME/.composer/vendor/bin"' >> ~/.bashrc
$ source ~/.bashrc**

[2020-04-16 09:36] devsnayan commented on #250
I am in same problem. composer require noitran/opendox doesn't work.

[2020-05-04 14:29] DrizzlyOwl commented on #735
That guzzle version is not supported in this PHP Openstack library. If you look at the composer.json file for this project you will see that it was built to support (the now legacy) `"guzzle/guzzle" : "~3.8",`

[2020-05-06 23:42] stoutput opened #745 "Domain->recordList() does not support $filter array"
Related to issue #191

It looks like `Service->domainList()` was correctly updated to build a url from the filter array, however `Domain->recordList()` was overlooked. It currently passes the filter array on to `Service->collection()` as an unsupported 4th parameter.

[2020-05-06 23:45] stoutput commented on #745
On outdated version. Disregard.

[2020-05-06 23:45] #745 closed, assigned to nobody

[2020-06-03 09:16] AnilkumarBorra opened #746 "bulkExtract is working, But Auto extract archive files is not moving files to newly created container"
Auto extract archive files i.e., bulkExtract function is working, but files of Tar files is not getting copy to newly created container.

$file_name ="images"
$tarFileName = ROOT_PATH."/public/images/client/".$file_name.".tar.gz";
$destinationContainerName = 'newlyCreatedContainer';
$fileData = fopen($tarFileName, 'r');
$this->authorizeRegion()->bulkExtract($destinationContainerName, $fileData, Ur

[2020-06-14 23:54] BriceBlanco commented on #250
Hi,i have also the same problem when i'm running.Someone help??

composer require maddhatter/laravel-fullcalendar

Using version ^1.3 for maddhatter/laravel-fullcalendar
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - In

[2020-06-27 16:59] coderblower commented on #250
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for laravel/installer ^3.1 -> satisfiable by laravel/installer[v3.1.0].
    - Conclusion: remove symfony/console v3.4.39
    - Conclusion: don't install symfony/console v3.4.39
    - laravel/installer v3.1.0 requires symfony/console ^4.0|^5.0 -> satisfiable by symfony/console[v4.0.0,

[2020-07-20 02:29] cjayalmontecm opened #747 "Line 29: [Error] Name "resource" that is reserved for future use (does not cause an error in PHP 7) used as a class, interface or trait name"
What will be the possible quick solution of this ? is it okay to just rename the file and the class name ? please advice

File: wp-content/plugins/backwpup/vendor/rackspace/php-opencloud/lib/OpenCloud/Orchestration/Resource/Resource.php

class Resource extends \OpenCloud\Common\Resource\ReadOnlyResource
{
}

[2020-08-05 06:43] raguvd opened #748 "Class 'Symfony\Component\EventDispatcher\Event' not found in Laravel/Lumen"
When Trying to install Rackspace package (composer require rackspace/php-opencloud), getting the following error Class 'Symfony\Component\EventDispatcher\Event' not found. I have installed symfony package but that could not worked out. Kindly help me out for this.

[2020-08-06 16:00] paulvink opened #749 "ObjectStore: metadata not found due to case-sensitive comparison"
Some hosts convert object metadata keys (and even the entire corresponding HTTP header) to all-lowercase. This is irritating, but since both HTTP headers and Object Store metadata keys are case insensitive, it is not illegal.

MetadataTrait.php uses strpos to test if a header starts with METADATA_PREFIX (e.g. 'X-Object-Meta-') and therefore fails if the capitalization isn't exactly the same, makin

[2020-10-01 15:49] Jhonata-Moreira commented on #250
Hi guys. Is a in problem int the artisan version. A solution I found for anyone trying to install dusk is:

run composer require --dev laravel/dusk:"^5.0"

with that, your laravel version will get the latest version of dusk

For others problems, run php artisan --version. Go to your version laravel documentation e search what is trying install. Will have the version you need.

I hope it help ;)

[2020-10-27 21:51] ap-coder opened #750 "We Really need this package updated ASAP Please"
I have looked for a package to make it possible to use your cloud files and cdn but have not found one.  Please update this package I am sure there are lots of pple asking for it.

[2020-11-19 18:57] logan-christensen opened #751 "Class 'Symfony\Component\EventDispatcher\Event' not found When making call to dnsService()"
In a fresh install of Laravel, running the following code:
[code]
Causes the error:
```Class 'Symfony\Component\EventDispatcher\Event' not found```

I'm using Laravel Version 8.12
PHP 7.4
I have symfony/event-dispatcher: ^5.1

I'm sure if it's related but when installing php-opencloud via composer I got the warning:

```Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/

[2020-12-03 19:44] perogrullous opened #752 "Guzzle Cacert"
Hello. I have noticed that this library relies on an old -and abandoned- version of Guzzle as a wrapper of curl for http communication.
Guzzle has an embedded cacert.pem file that is quite old (2014) and therefore fails with the rackspace certificates.
This embedded cacert.pem seems to take precedence of any cert store (open ssl store, php cert store).

Out of the box, any communication with the r

[2020-12-03 19:45] perogrullous commented on #752
Duplicated. Sorry.

[2020-12-03 19:45] #752 closed, assigned to nobody

[2021-02-10 23:40] qwebltd commented on #742
I found the same. Turns out using rawurlencode() does the trick!

`$container->getObject(rawurlencode('name containing special characters'));`

[2021-03-17 16:01] mrmikeeu opened #754 "PHP 8 support?"
Will this package be updated to add PHP 8 support?

[2021-04-06 21:44] ghost commented on #750
I'll add a vote to this. It is unusable in the current state.

[2021-04-21 19:51] syosoft opened #755 "No way to pass headers to DataObject::copy()"
Not sure how to do Pull Requests but need the ability to pass headers to copy() as the object headers are not copied.

rackspace/php-opencloud/lib/OpenCloud/ObjectStore/Resource/DataObject.php:368-382

[code]

[2021-04-22 10:02] ississam commented on #250
Hi guys, i have the same problem with Zendframework 2 , when i rum composer require zendframework/zend-cache

[2021-05-03 06:51] fifieldt commented on #630
This only relates to very old clouds using long deprecated versions. Let's close this issue.

[2021-05-03 06:51] #630 closed

[2021-05-30 20:07] rakthak opened #757 "error while installing easyadmin"
hello, i have an error installing easyadmin i don't see where it can come from

[code]

[2021-07-23 16:56] rsaylor-strivven commented on #751
This also fails on Lumen

Lumen (8.2.4) (Laravel Components ^8.0)
Tried with composer 2 and composer 1
PHP 7.3

Class 'Symfony\Component\EventDispatcher\Event' not found (500 Internal Server Error)

[2021-08-19 08:12] thamerbelfkihthamer commented on #729
there is no plan to get rid of the `guzzle/guzzle` library and replace it with `guzzlehttp/guzzle` ?

[2021-09-08 17:19] nickjohnson commented on #730
That was helpful. I was wondering what happened after a recent update. This save me a bunch of time.

[2022-01-27 22:16] gkilwein commented on #750
After struggling for days trying to get this updated to work with PHP 8, I wrote my own simple, unofficial client ( https://github.com/gkilwein/Rackspace-Cloud-Files ) since it looks like Rackspace has abandoned this library. It doesn't support everything but it does the basics and can be extended if you need more functionality.

[2022-01-27 22:16] gkilwein commented on #754
After struggling for days trying to get this updated to work with PHP 8, I wrote my own simple, unofficial client ( https://github.com/gkilwein/Rackspace-Cloud-Files ) since it looks like Rackspace has abandoned this library. It doesn't support everything but it does the basics and can be extended if you need more functionality.